@media print,
(max-width: 1899px)
{
    /*----------------
        Home block
    ----------------*/
    .home_block .desc
    {
        margin-top: 28px;
    }


    .home_block .choose_network
    {
        margin-top: 40px;
    }


    .home_block .choose_network .mini_modal
    {
        top: auto;
        bottom: calc(100% + 30px);
    }

    .home_block .choose_network .mini_modal.active
    {
        bottom: calc(100% + 10px);
    }


    .home_block .choose_network .mini_modal .scroll
    {
        max-height: 310px;
    }



    /*------------
        Rating
    ------------*/
    .rating .titles > *,
    .rating .validator > *
    {
        padding-right: 12px;
        padding-left: 12px;
    }
}


@media print,
(max-width: 1439px)
{
    /*------------
        Header
    ------------*/
    header .logo img
    {
        height: 60px;
    }



    /*----------------
        Home block
    ----------------*/
    .home_block .title
    {
        font-size: 90px;
        line-height: 100px;
    }


    .home_block .desc
    {
        font-size: 18px;

        width: 672px;
    }


    .home_block .bg_left,
    .home_block .bg_right
    {
        transform: scale(.8);
    }

    .home_block .bg_left
    {
        margin-left: -652px;
    }

    .home_block .bg_right
    {
        margin-right: -732px;
    }
}



@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*----------------
        Home block
    ----------------*/
    .home_block .bg_left,
    .home_block .bg_right
    {
        transform: scale(.7);
    }

    .home_block .bg_left
    {
        margin-left: -602px;
    }

    .home_block .bg_right
    {
        margin-right: -682px;
    }



    /*------------
        Rating
    ------------*/
    .rating .table_head
    {
        padding-right: 0;
    }


    .rating .list
    {
        overflow: visible;

        max-height: none;
        padding-right: 0;
    }
}



@media print,
(max-width: 1023px)
{
    /*----------------
        Home block
    ----------------*/
    .home_block .bg_left,
    .home_block .bg_right
    {
        display: none;
    }

    .home_block .mob_bg
    {
        display: block;
    }


    .home_block .choose_network .mini_modal
    {
        top: calc(100% + 30px);
        bottom: auto;
    }

    .home_block .choose_network .mini_modal.active
    {
        top: calc(100% + 10px);
        bottom: auto;
    }

    .home_block .choose_network
    {
        margin-top: 30px;
    }

    .home_block .choose_network .mini_modal .scroll
    {
        max-height: 257px;
    }
}



@media print,
(max-width: 767px)
{
    /*------------
        Header
    ------------*/
    header
    {
        padding: 10px 0;
    }


    header .logo img
    {
        height: 52px;
    }



    /*----------------
        Home block
    ----------------*/
    .home_block
    {
        padding-top: 134px;
    }


    .home_block .title
    {
        font-size: 72px;
        line-height: 80px;
    }


    .home_block .desc
    {
        font-size: 16px;

        width: 100%;
        margin-top: 24px;
    }


    .home_block .choose_network .mini_modal
    {
        top: auto;
        bottom: calc(100% + 30px);
    }

    .home_block .choose_network .mini_modal.active
    {
        top: auto;
        bottom: calc(100% + 10px);
    }
}



@media print,
(max-width: 479px)
{
    /*----------------
        Home block
    ----------------*/
    .home_block .title
    {
        font-size: 60px;
        line-height: 68px;
    }

    .home_block .desc
    {
        font-size: 15px;

        margin-top: 20px;
    }


    .home_block .mob_bg
    {
        bottom: 164px;
    }
}
