/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #000;
    --scroll_width: 17px;
    --text_color: #fff;
    --font_size: 16px;
    --font_family: 'Inter', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #950fff;
}

::-moz-selection
{
    color: #fff;

    background: #950fff;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 8px;
    height: 8px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #950fff;
}

html.custom_scroll
{
    scrollbar-color: #950fff var(--bg);
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

body.lock
{
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    width: calc(100% - var(--scroll_width));
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

body.lock header
{
    width: calc(100% - var(--scroll_width));
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}


.row
{
    display: flex;

    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.lazyload
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lazyload.loaded
{
    opacity: 1;
}



/*-------------
    Animate
-------------*/
.animate
{
    visibility: hidden;

    transition: .5s linear;
    transition-property: opacity, visibility, transform;

    opacity: 0;
}

.animate.animated
{
    visibility: visible;

    opacity: 1;
}


.animate.delay
{
    transition-delay: .2s !important;
}

.animate.delay2
{
    transition-delay: .4s !important;
}

.animate.delay3
{
    transition-delay: .6s !important;
}

.animate.delay4
{
    transition-delay: .8s !important;
}


.fadeInUp
{
    transform: translateY(50%);
}

.animated.fadeInUp
{
    transform: translateX(0);
}


.fadeInLeft
{
    transform: translateX(-50%);
}

.animated.fadeInLeft
{
    transform: translateX(0);
}


.fadeInRight
{
    transform: translateX(50%);
}

.animated.fadeInRight
{
    transform: translateX(0);
}



/*-----------
    Modal
-----------*/
.modal
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


.modal .overlay
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .8);
}


.modal_content
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    display: flex;
    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 24px;

    flex-wrap: wrap;
    justify-content: center;
}


.modal_content .data
{
    position: relative;

    width: 953px;
    max-width: 100%;
    margin: auto;
    padding: 24px 20px;

    cursor: default;

    border-radius: 24px;
    background: #0d0d0d;
}


.modal_content .data > .close_btn
{
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 20px;

    display: flex;

    width: 36px;
    height: 36px;

    transition: color .2s linear;

    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.modal_content .data > .close_btn svg
{
    display: block;

    width: 36px;
    height: 36px;
}


.modal_content .data > .close_btn:hover
{
    color: #950fff;
}


.modal_content .modal_title
{
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;

    margin-bottom: 40px;
}



@media print,
(max-width: 1439px)
{
    :root
    {
        --font_size: 15px;
    }


    .cont
    {
        padding: 0 24px;
    }
}



@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }
}



@media print,
(max-width: 479px)
{
    :root
    {
        --font_size: 14px;
    }



    /*-----------
        Modal
    -----------*/
    .modal_content
    {
        padding: 10px;
    }


    .modal_content .data > .close_btn
    {
        top: 18px;
        right: 18px;
    }
}
