/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #000;
    --scroll_width: 17px;
    --text_color: #fff;
    --font_size: 16px;
    --font_family: 'Inter', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #950fff;
}

::-moz-selection
{
    color: #fff;

    background: #950fff;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 8px;
    height: 8px;

    border-radius: 5px;
    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #950fff;
}

html.custom_scroll
{
    scrollbar-color: #950fff var(--bg);
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

body.menu_open
{
    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


.lazyload,
.swiper-lazy
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lazyload.loaded,
.swiper-lazy-loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*----------------
    Mini modal
----------------*/
.modal_cont
{
    position: relative;
}


.mini_modal
{
    position: absolute;
    z-index: 100;
    top: calc(100% + 30px);
    left: 0;

    visibility: hidden;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
}

.mini_modal.active
{
    top: calc(100% + 10px);

    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}



/*-------------
    Animate
-------------*/
.animate
{
    visibility: hidden;

    transition: .5s linear;
    transition-property: opacity, visibility, transform;

    opacity: 0;
}

.animate.animated
{
    visibility: visible;

    opacity: 1;
}


.animate.delay
{
    transition-delay: .2s !important;
}

.animate.delay2
{
    transition-delay: .4s !important;
}

.animate.delay3
{
    transition-delay: .6s !important;
}

.animate.delay4
{
    transition-delay: .8s !important;
}


.fadeInUp
{
    transform: translateY(50%);
}

.animated.fadeInUp
{
    transform: translateX(0);
}


.fadeInLeft
{
    transform: translateX(-50%);
}

.animated.fadeInLeft
{
    transform: translateX(0);
}


.fadeInRight
{
    transform: translateX(50%);
}

.animated.fadeInRight
{
    transform: translateX(0);
}



/*------------
    Header
------------*/
header
{
    position: relative;
    z-index: 20;
    top: 0;
    left: 0;

    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
}

header.absolute
{
    position: absolute;

    margin: 0;
}


header .cont
{
    padding-top: 11px;
    padding-bottom: 11px;

    justify-content: space-between;
    align-items: center;
    align-content: center;
}



header .logo
{
    color: currentColor;

    display: block;

    text-decoration: none;
}

header .logo img
{
    display: block;
}



header .notifications
{
    width: calc(100% - 519px);
    margin-right: auto;
    margin-left: auto;
}


header .notifications .data
{
    font-size: 14px;
    line-height: 150%;

    display: flex;

    padding: 20px;

    border-radius: 20px;
    background: #141414;

    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-feature-settings: 'pnum' on, 'lnum' on;
}


.notifications .icon
{
    display: flex;

    width: 52px;
    height: 52px;

    border: 1px solid hsla(0, 0%, 85%, .1);
    border-radius: 50%;

    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.notifications .icon svg
{
    display: block;

    width: 30px;
    height: 30px;
}


.notifications .icon + *
{
    display: -webkit-box;
    overflow: hidden;

    width: calc(100% - 67px);
    margin-left: auto;

    text-overflow: ellipsis;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



/*----------------
    Home block
----------------*/
.home_block
{
    position: relative;
    z-index: 3;

    display: flex;

    padding: 162px 0 60px;

    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.home_block .title
{
    font-size: 100px;
    font-weight: 700;
    line-height: 121px;

    text-align: center;
}


.home_block .desc
{
    color: #464646;
    font-size: 20px;
    line-height: 140%;

    width: 817px;
    max-width: 100%;
    margin: 20px auto 0;

    text-align: center;
}


.home_block .choose_network
{
    margin: 30px auto 0;
}


.home_block .bg_left
{
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 60px;
    left: 50%;

    display: block;

    width: 421px;
    margin: auto;
    margin-left: -706px;

    pointer-events: none;
}


.home_block .bg_right
{
    position: absolute;
    z-index: -2;
    top: 0;
    right: 50%;
    bottom: 140px;

    display: block;

    width: 523px;
    margin: auto;
    margin-right: -831px;

    pointer-events: none;
}


.home_block .mob_bg
{
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 108px;
    left: 50%;

    display: none;

    width: 473px;
    height: 262px;
    margin: auto;
    margin-left: -240px;

    pointer-events: none;
}



/*--------------------
    Choose network
--------------------*/
.choose_network
{
    width: 235px;
    max-width: 100%;
}


.choose_network .btn
{
    display: flex;

    padding: 9px;

    transition: background .2s linear;
    text-align: left;

    border: 1px solid transparent;
    border-radius: 14px;
    background: #141414;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.choose_network .btn .logo
{
    position: relative;

    overflow: hidden;

    width: 40px;
    height: 40px;
    margin-right: 14px;

    border-radius: 50%;
    background: #ddd;
}

.choose_network .btn .logo img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}

.choose_network .btn .logo + *
{
    width: calc(100% - 92px);
}


.choose_network .btn .name
{
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}


.choose_network .btn .token
{
    color: #555;
    font-size: 12px;
    line-height: 15px;

    margin-top: 6px;

    text-transform: uppercase;
}


.choose_network .btn .arr
{
    display: block;

    width: 24px;
    height: 24px;
    margin-left: 14px;

    transition: transform .2s linear;
}


.choose_network .btn:hover
{
    background: #353535;
}

.choose_network .btn.active
{
    border-color: #950fff;
    background: #141414;
}

.choose_network .btn.active .arr
{
    transform: rotate(180deg);
}



.choose_network .mini_modal
{
    width: 100%;
    padding: 4px;

    border-radius: 10px;
    background: #101010;
}


.choose_network .mini_modal .scroll
{
    overflow: auto;

    max-height: 257px;
    padding-right: 4px;

    overscroll-behavior-y: contain;
}

header .choose_network .mini_modal .scroll
{
    max-height: calc(100vh - 134px);
}

.choose_network .mini_modal .scroll > * + *
{
    margin-top: 8px;
}


.choose_network .network
{
    color: currentColor;

    display: flex;

    padding: 4px 10px 4px 4px;

    transition: background .2s linear;
    text-decoration: none;

    border-radius: 8px;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.choose_network .network .logo
{
    position: relative;

    overflow: hidden;

    width: 30px;
    height: 30px;
    margin-right: 6px;

    border-radius: 50%;
}

.choose_network .network .logo.bg_white
{
    background: #fff;
}

.choose_network .network .logo + *
{
    width: calc(100% - 66px);
}


.choose_network .network .logo img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}


.choose_network .network .name
{
    line-height: 100%;
}


.choose_network .network .token
{
    color: #555;
    font-size: 12px;
    line-height: 15px;

    margin-top: 6px;

    text-transform: uppercase;
}


.choose_network .network .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-left: 6px;

    transition: opacity .2s linear;

    opacity: 0;
}


.choose_network .network:hover,
.choose_network .network.active
{
    background: #191919;
}

.choose_network .network.active .icon
{
    opacity: 1;
}



/*------------
    Rating
------------*/
.rating
{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    flex: 1 0 auto;
}


.rating .cont
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.rating .data
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    padding: 10px;

    border-radius: 16px;
    background: #0d0d0d;

    flex: 1 0 auto;
}


.rating .head
{
    position: relative;
    z-index: 10;

    display: flex;

    margin-bottom: 7px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}



.rating .block_title
{
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}



.rating .last_update
{
    color: #464646;
    line-height: 100%;

    margin-right: auto;
    margin-left: 24px;
}



.rating .search
{
    margin-left: auto;
}


.rating .search .btn
{
    display: flex;

    width: 52px;
    height: 45px;

    transition: .2s linear;

    border-radius: 12px;
    background: #141414;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .search .btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}

.rating .search .btn:hover
{
    background: #950fff;
}

.rating .search .btn.active
{
    opacity: 0;
    background: #7700e1;
}


.rating .search .mini_modal,
.rating .search .mini_modal.active
{
    top: 0;
    right: 0;
    left: auto;

    width: 272px;
}


.rating .search form
{
    position: relative;
}


.rating .search form ::-webkit-input-placeholder
{
    color: #353535;
}

.rating .search form :-moz-placeholder
{
    color: #353535;
}

.rating .search form ::-moz-placeholder
{
    color: #353535;

    opacity: 1;
}

.rating .search form :-ms-input-placeholder
{
    color: #353535;
}


.rating .search .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: 12px;

    display: block;

    width: 100%;
    height: 45px;
    padding: 0 52px 0 14px;

    border: none;
    border-radius: 12px;
    background: #141414;
}


.rating .search .submit_btn
{
    color: #353535;

    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    display: flex;

    width: 52px;
    height: 45px;

    transition: color .2s linear;

    border-radius: 12px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .search .submit_btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}

.rating .search .submit_btn:hover
{
    color: #fff;
}


.rating .search .tips
{
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;

    display: none;

    width: 100%;
    margin-top: 10px;
    padding: 6px 4px;

    border-radius: 12px;
    background: #141414;
}

.rating .search .tips.show
{
    display: block;
}

.rating .search .tips > * + *
{
    margin-top: 6px;
}


.rating .search .tip
{
    font-size: 12px;
    line-height: 15px;

    display: flex;

    width: 100%;
    padding: 6px 4px;

    cursor: pointer;
    transition: background .2s linear;

    border-radius: 6px;

    font-feature-settings: 'pnum' on, 'lnum' on;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .search .tip .logo
{
    position: relative;

    overflow: hidden;

    width: 16px;
    height: 16px;
    margin-right: 6px;

    border-radius: 50%;
}

.rating .search .tip .logo img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}

.rating .search .tip span
{
    display: block;

    width: calc(100% - 22px);
}

.rating .search .tip:hover
{
    background: #191919;
}



.rating .filter
{
    margin-left: 10px;
}


.rating .filter > .btn
{
    display: flex;

    width: 52px;
    height: 45px;

    transition: background .2s linear;

    border-radius: 12px;
    background: #141414;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .filter > .btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}

.rating .filter > .btn:hover
{
    background: #950fff;
}

.rating .filter > .btn.active
{
    background: #7700e1;
}


.rating .filter .mini_modal
{
    right: 0;
    left: auto;

    overflow: auto;

    width: 360px;
    max-height: calc(100vh - 237px);
    padding: 20px;
    padding-right: 4px;

    border-radius: 24px;
    background: #0d0d0d;

    overscroll-behavior-y: contain;
}


.rating .filter .mini_modal .title
{
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;

    margin-bottom: 20px;
}


.rating .filter .mini_modal .btn
{
    line-height: 19px;

    display: flex;

    width: 100%;
    padding: 10px 6px;

    text-align: left;

    border-radius: 8px;
    background: #141414;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .filter .mini_modal .btn + .btn
{
    margin-top: 10px;
}


.rating .filter .mini_modal .icon
{
    display: block;

    width: 24px;
    height: 24px;
}

.rating .filter .mini_modal .icon + .icon
{
    display: none;
}

.rating .filter .mini_modal .icon ~ span
{
    width: calc(100% - 32px);
}


.rating .filter .mini_modal .hide .icon
{
    display: none;
}

.rating .filter .mini_modal .hide .icon + .icon
{
    display: block;
}



.rating .compare_btn
{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    width: 100px;
    height: 45px;
    margin-left: 10px;

    transition: background .2s linear;

    border-radius: 12px;
    background: #141414;
}

.rating .compare_btn:hover
{
    background: #950fff;
}

.rating .compare_btn.active
{
    background: #7700e1;
}



.rating .col_numb
{
    width: 88px;
    min-width: 88px;
}

.rating .col_rank,
.rating .col_identity,
.rating .col_website,
.rating .col_security,
.rating .col_proposals,
.rating .col_result
{
    width: 80px;
    min-width: 80px;
}

.rating .col_moniker
{
    width: 100%;
}

.rating .col_tokens,
.rating .col_self_delegation,
.rating .col_min_self_del,
.rating .col_tokens_bluring,
.rating .col_commission_rate,
.rating .col_pre_commits
{
    width: 120px;
    min-width: 120px;
}




.rating .table_head
{
    padding-right: 12px;

    border-radius: 10px;
    background: #141414;
}



.rating .titles
{
    font-size: 12px;
    line-height: 15px;

    display: flex;
    overflow: hidden;

    padding: 10px 0;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}


.rating .titles > *
{
    display: flex;

    padding: 8px 14px;

    white-space: nowrap;

    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.rating .titles > * + *
{
    border-left: 1px solid transparent;
}


.rating .titles .col_numb,
.rating .titles .col_moniker
{
    justify-content: flex-start;
}

.rating .titles .col_rank
{
    justify-content: center;
}



.rating .pinned_items
{
    display: none;

    padding: 10px;

    border-top: 1px solid rgba(255, 255, 255, .05);

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .with_pinned .pinned_items
{
    display: flex;
}


.rating .pinned_items .icon
{
    color: #464646;

    display: block;

    width: 24px;
    height: 24px;
    margin-right: 10px;
}


.rating .pinned_items .val
{
    display: flex;

    margin-bottom: -10px;
    margin-left: -10px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.rating .pinned_items .btn
{
    display: flex;

    margin-bottom: 10px;
    margin-left: 10px;
    padding: 9px;

    white-space: nowrap;

    border: 1px solid #950fff;
    border-radius: 10px;
    background: #1a1420;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.rating .pinned_items .btn > *
{
    pointer-events: none;
}

.rating .pinned_items .btn svg
{
    display: block;

    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-left: 6px;
}



.rating .list
{
    overflow: auto;

    max-height: calc(100vh - 317px);
    padding-right: 4px;

    flex: 1 0 auto;
    overscroll-behavior-y: contain;
}

.rating .with_pinned + .list
{
    max-height: calc(100vh - 356px);
}


.rating .validator
{
    display: flex;

    transition: background .2s linear;
    white-space: nowrap;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}

.rating .validator + .validator
{
    border-top: 1px solid rgba(255, 255, 255, .05);
}

.rating .validator:hover
{
    background: #141414;
}

.rating .validator.pinned
{
    background: rgba(149, 15, 255, .2);
}


.rating .validator > *
{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    display: flex;

    padding: 5px 14px;

    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .validator > * + *
{
    border-left: 1px solid rgba(255, 255, 255, .05);
}


.rating .validator .col_numb
{
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}


.rating .validator .col_rank
{
    justify-content: center;
}

.rating .validator .col_rank div
{
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;

    display: block;

    width: 32px;
    height: 32px;
    margin: auto;

    text-align: center;

    background: url(../images/bg_rank.svg) 50%/100% 100% no-repeat;
}


.rating .validator .col_moniker
{
    font-size: 12px;
    line-height: 15px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}


.rating .validator .col_moniker .logo
{
    position: relative;

    overflow: hidden;

    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 4px;

    border-radius: 50%;
}

.rating .validator .col_moniker .logo img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}


.rating .validator .checkbox
{
    width: 14px;
    height: 14px;
    margin-right: 10px;

    cursor: pointer;
}

.rating .validator .checkbox input
{
    display: none;
}

.rating .validator .checkbox .check
{
    display: flex;

    width: 14px;
    height: 14px;

    transition: .2s linear;
    pointer-events: none;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 2px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.rating .validator .checkbox .check svg
{
    display: block;

    width: 20px;
    height: 19px;

    transition: opacity .2s linear;

    opacity: 0;
}

.rating .validator .checkbox input:checked + .check
{
    border-color: transparent;
    background: rgba(255, 255, 255, .1);
}

.rating .validator .checkbox input:checked + .check svg
{
    opacity: 1;
}


.rating .validator sup
{
    font-size: 10px;
    line-height: 12px;

    display: inline-block;

    vertical-align: top;
}

.rating .validator sup.green
{
    color: #1bc562;
}

.rating .validator sup.red
{
    color: #eb5757;
}



/*-------------
    Compare
-------------*/
.compare
{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    flex: 1 0 auto;
}


.compare .cont
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.compare .data
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    padding: 14px 20px;

    border-radius: 20px;
    background: #0d0d0d;

    flex: 1 0 auto;
}


.compare .head
{
    position: relative;
    z-index: 10;

    display: flex;

    margin-bottom: 20px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}



.compare .block_title
{
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}



.compare .info
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.compare .col_left
{
    width: 235px;
    max-width: 100%;
}



.compare .filter
{
    display: flex;
    flex-direction: column;

    height: 124px;
    padding: 10px;

    border-radius: 20px;
    background: #141414;
}


.compare .filter .btn
{
    display: flex;

    width: 52px;
    height: 45px;

    transition: .2s linear;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 12px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.compare .filter .btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}


.compare .filter .identical_options
{
    margin-top: auto;
    padding: 14px 0;
}


.compare .filter .identical_options label
{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    position: relative;

    display: flex;

    min-height: 17px;
    padding-left: 24px;

    cursor: pointer;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.compare .filter .identical_options input
{
    display: none;
}


.compare .filter .identical_options .check
{
    color: #000;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;

    width: 14px;
    height: 14px;
    margin: auto;

    transition: .2s linear;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 2px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.compare .filter .identical_options .check svg
{
    display: block;

    width: 10px;
    height: 10px;
}

.compare .filter .identical_options input:checked + .check
{
    border-color: transparent;
    background: #fff;
}



.compare .features
{
    margin-top: 20px;
}


.compare .features > *
{
    font-size: 12px;
    line-height: 15px;

    padding: 13px 10px;

    border-radius: 10px;
    background: #141414;
}

.compare .features > * + *
{
    margin-top: 6px;
}



.compare .col_main
{
    width: 735px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.compare .col_main .row
{
    margin-bottom: -20px;
    margin-left: -20px;

    align-items: stretch;
    align-content: stretch;
}

.compare .col_main .row > *
{
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}


.compare .validator .top
{
    display: flex;

    height: 124px;
    padding: 12px 10px;

    text-align: center;

    border-radius: 20px;
    background: #141414;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.compare .validator .logo
{
    position: relative;

    overflow: hidden;

    width: 70px;
    height: 70px;
    margin: 0 auto 10px;

    border-radius: 50%;
}

.compare .validator .logo img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}


.compare .validator .name
{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    width: 100%;
}


.compare .validator .vals
{
    margin-top: 20px;
}


.compare .validator .vals > *
{
    font-size: 12px;
    line-height: 15px;

    padding: 13px 10px;

    transition: background .2s linear;
    text-align: center;

    border-radius: 10px;
    background: #141414;
}

.compare .validator .vals > *.red
{
    background: rgba(235, 87, 87, .1);
}

.compare .validator .vals > *.green
{
    background: rgba(27, 197, 98, .1);
}

.compare .validator .vals > * + *
{
    margin-top: 6px;
}



/*-------------------
    Compare error
-------------------*/
.compare_error
{
    position: fixed;
    z-index: 9;
    right: 0;
    bottom: 30px;
    left: 0;

    display: none;

    width: 378px;
    max-width: calc(100% - 48px);
    margin: auto;
    padding: 22px 64px 16px 16px;

    border-radius: 16px;
    background: #eb5757;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.compare_error .icon
{
    display: block;

    width: 16px;
    height: 16px;
}

.compare_error .icon + *
{
    width: calc(100% - 26px);
}


.compare_error .title
{
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}


.compare_error .desc
{
    font-size: 12px;
    line-height: 130%;

    margin-top: 8px;

    opacity: .7;
}

.compare_error .close_btn
{
    position: absolute;
    top: 22px;
    right: 16px;

    display: flex;

    width: 16px;
    height: 16px;

    transition: opacity .2s linear;

    opacity: .5;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.compare_error .close_btn svg
{
    display: block;

    width: 16px;
    height: 16px;

    pointer-events: none;
}

.compare_error .close_btn:hover
{
    opacity: 1;
}
